# {{ ansible_managed }}
{% if keycloak_quarkus_ha_enabled %}
infinispan-client.server-list={{ keycloak_quarkus_ispn_url }}
infinispan-client.client-intelligence=HASH_DISTRIBUTION_AWARE
infinispan-client.use-auth=true
infinispan-client.auth-username={{ keycloak_quarkus_ispn_user }}
infinispan-client.auth-password={{ keycloak_quarkus_ispn_pass }}
infinispan-client.auth-realm=default
infinispan-client.auth-server-name=infinispan
infinispan-client.sasl-mechanism={{ keycloak_quarkus_ispn_sasl_mechanism }}
{% if keycloak_quarkus_ispn_use_ssl %}
infinispan-client.trust-store={{ keycloak_quarkus_ispn_trust_store_path }}
infinispan-client.trust-store-password={{ keycloak_quarkus_ispn_trust_store_password }}
infinispan-client.trust-store-type=jks
{% endif %}
#infinispan-client.use-schema-registration=true
#infinispan-client.auth-client-subject
#infinispan-client.auth-callback-handler
{% endif %}
